RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]
RewriteRule ^{tupagina}/page/(.+)/search/(.+)$ {tupagina}.php?page=$1&search=$2
RewriteRule ^{tupagina}/page/([0-9])$ {tupagina}.php?page=$1
